<div class="top">
<div class="topnav">
  <div class="search-container">
   
      <input type="text" placeholder="Search.." name="search" [(ngModel)]="Userinput">
        <button type="submit" (click)="search()"><i class="fa fa-search"></i></button>
     
    
   
  </div>
  </div>


<div class="maincontainer">
  <div class="topcontainer">
  <div class="container" *ngFor="let table of TableAPI.tables">
      <div class="circle" >
          <div class="half-circle1" id={{table.seats[0].identifier}}  
          [style.background-color]="isSeatOccupied(table.seats[0].identifier)"
            (mouseenter)="addClickEvent($event)" 
             (mouseleave)="addClickEvent($event)"
             (mousemove)="addClickEvent($event)"> </div>
              
          <div class="half-circle1" id={{table.seats[1].identifier}} 
          [style.background-color]="isSeatOccupied(table.seats[1].identifier)"
          (mouseenter)="addClickEvent($event)" 
          (mouseleave)="addClickEvent($event)"
          (mousemove)="addClickEvent($event)" >  </div>
      </div>

   <div class="rectangle">{{table.title}}</div>

      <div class="circle">
          <div class="half-circle2" id={{table.seats[2].identifier}}   
          [style.background-color]="isSeatOccupied(table.seats[2].identifier)"
             (mouseenter)="addClickEvent($event)" 
             (mouseleave)="addClickEvent($event)"
             (mousemove)="addClickEvent($event)">  </div>
          <div class="half-circle2" id={{table.seats[3].identifier}} 
          [style.background-color]="isSeatOccupied(table.seats[3].identifier)"
             (mouseenter)="addClickEvent($event)" 
             (mouseleave)="addClickEvent($event)"
             (mousemove)="addClickEvent($event)">  </div>
      </div>
  </div>
</div>

</div>

</div>
 <fs-modal *ngIf="modalShow && employee.length!=0" [employeeData] ="employee" [ngStyle]="{'top.px': modaltop-10 ,                       'left.px':modalleft + 15,'position':'absolute'}">
  </fs-modal>